/*************************** HTML Settting ***************************/
html, body{
    margin: 0;
    background-color: #f8f9fa;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
    color: #40514E   
}

bobody {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


h1{
    font-size: 2.5rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    color: #11999E;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #11999E;
    padding-top: 20px;
    padding-bottom: 10px;
}


h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
    color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover{
    color:#EAF6F6  
}

hr{
    border: none;
    border-top: dotted #EAF6F6 6px;
    width: 5%;
    margin: 100px auto;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #ddd; /* Linha de separação */
}

/* configurando apresentação de código python */
.notebook-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}
code {
    font-family: 'Courier New', Courier, monospace;
}

iframe {
    width: 100%;
    height: 100vh; /* Ajuste conforme necessário */
    border: none;
}


